/* Default CSS */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Home Page */

.mainHomePageFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color: #137DBD;
    padding: 1%;
    color: azure;
}


/* Main Image Slider */

#sliderContainer {
    text-align: center;
}

.inputControlFormContainer {
    text-align: center;
    margin: 1%;
    padding: 1%;
}


/* Service Menu Page */

.commonMenuNavigationContainer {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    /* background-color: rgb(227, 245, 252); */
    /* overflow: auto; */
}

.commonMenuNavigationItems {
    flex: 1;
}

.commonMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.commonMenuItem {
    flex: 1;
}

.commonMenuItem>img {
    width: 100%;
}

.commonMenuHeaderIcon {
    margin: 2%;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-self: flex-start; */
}

.commonMenuHeaderIcon>img {
    padding: 10px;
}

.commonMenuHeaderIcon:hover {
    /* background-color: dimgray; */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin: 2%;
    border: 2px solid darkmagenta;
    border-radius: 2px;
}

.commonMenuContainerButton {
    /* background-color: aliceblue;
    background-color: rgba(240, 248, 255, 0.9); */
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0.1);
}

.serviceHomeIconContainer {
    background-color: #cac9f7;
    margin: 2%;
    padding: 2%;
}

.serviceServicesMenuIconContainer {
    background-color: #cac9f7;
    margin: 2%;
    padding: 2%;
}

#serviceMenuPageHeader {
    margin: 5%;
    text-align: center;
}

.imagteTileParentWrapper {
    text-align: center;
    margin: 10%;
}

.imageTilesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
}

.singleImageTileNameContainer {
    flex: 0 0 120px;
    margin: 10px;
}

.serviceMenuTileImage {
    width: 400px;
    height: 265px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
}

.serviceMenuTileImage:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.serviceMenuTileImage:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}

.serviceMenuPageNavigationFormContainer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: blue;
    margin: 1%;
}

.serviceMenuPageButton {
    background-color: #caeccb;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: darkorchid;
}

.serviceMenuPageButton:hover {
    background-color: #50e755;
    color: white;
    font-weight: bold;
}

.imageTileNameContainer {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: semibold;
}

#serviceMenuNavigationSubmitButton {
    background: url('./images/icons/menu/modified/homeIcon.gif');
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    border: 2px solid darkorchid;
}


/* Businesses List Navigation */

#businessesListNavigationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.businessListNavigationFormItem {
    flex: 1;
}

.businessListNavigationButton {
    background-color: #caeccb;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: darkorchid;
}

.businessListNavigationButton:hover {
    background-color: #50e755;
    color: white;
    font-weight: bold;
}

.businessesListHeader {
    text-align: center;
}

.businessesListHeaderImageHolder {
    text-align: center;
}

.businessItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.businessItemContainer div {
    flex: 1;
    margin: 20px;
    padding: 10px;
}

.businessNameContainer {
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 1.5rem 2rem;
    /* font-size: 4rem; */
    font-size: 18px;
    font-family: monospace;
    box-shadow: 0px 5px 10px #0057ab;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
}

.businessNameContainer:hover {
    box-shadow: 0px 15px 25px -5px #0057ab;
    transform: scale(1.03);
}

.businessNameContainer:active {
    box-shadow: 0px 4px 8px #0065c8;
    transform: scale(0.98);
}

.businessDistanceContainer {
    background-color: #79e3b6;
    border-radius: 2px;
    border: 2px solid black;
}

.hidden {
    display: none;
}

#distanceErrorContainer {
    display: none;
    background: tomato;
    color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    padding: 1%;
    border-radius: 2px;
    text-align: center;
}

#businessesListNavigationServSubmitButton {
    background: url('./images/icons/menu/modified/servicesIcon.gif');
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    border: 2px solid darkorchid;
}

#businessesListNavigationHomeSubmitButton {
    background: url('./images/icons/menu/modified/homeIcon.gif');
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    border: 2px solid darkorchid;
}


/* Detailed Business Info Page */

#businessInfoPageNavigationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.businessInfoPageNavigationFormItem {
    flex: 1;
}

.businessInfoPageNavigationButton {
    background-color: #caeccb;
    border: none;
    /* margin: 1%;
    padding: 20px; */
    margin: 4px 2px;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    color: darkorchid;
}

.businessInfoPageNavigationButton:hover {
    background-color: #50e755;
    color: white;
    font-weight: bold;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.headerItem {
    flex: 1;
    padding: 1%;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    margin-left: 2%;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.addressUlListContainer {
    text-align: left;
    padding-right: 4%;
    padding-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.addressUlListContainer li {
    padding: 2px;
}

.addressUlList {
    list-style-type: none;
    font-size: 16px;
}

.addressHeader {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 2px;
}

.mapsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapItems {
    margin: 2%;
    padding: 1%;
}

.mapContainer {
    text-align: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

.morInfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightsalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.moreInfoItem {
    flex: 1;
    margin: 10px;
}

.mainHeaderContainer {
    text-align: center;
}

#serverErrorReportContainer {
    display: none;
    background: tomato;
    color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    padding: 1%;
    border-radius: 2px;
    text-align: center;
}

#serverErrorReportServicePageContainer {
    display: none;
    background: tomato;
    color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
    padding: 1%;
    border-radius: 2px;
    text-align: center;
}


/* Loading Indicator */

#loadingIndicatorContainer {
    display: block;
    color: #fff;
    text-align: center;
    margin: 2%;
    padding: 2%;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(110, 236, 25, 0.918);
    border-radius: 50%;
    border-top-color: rgb(223, 54, 54);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#detailedBusinessInfoNavigationBussSubmitButton {
    background: url('./images/icons/menu/modified/detailedBusinessInfoIcon.gif');
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    border: 2px solid darkorchid;
}


/* #businessInfoPageNavigationFormReturnListsMenu {
    margin: 2%;
    padding: 50px;
} */

#detailedBusinessInfoNavigationHomeSubmitButton {
    background: url('./images/icons/menu/modified/homeIcon.gif');
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: lightblue;
    border: 2px solid darkorchid;
}